@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    background: rgb(26, 24, 24);

}
li{
    list-style: none;
}
/*Шапка*/
header{
    font-family: 'Poppins';
    width: 95%;
    margin: 0 auto;
    display: flex;
    height: 6.6rem;
    justify-content: space-between;
    align-items: center;
}
.icon-style:hover{
    transform: scale(1.1);
    transition: 400ms;
}
header nav{
    width: 36%;
}
header ul{
    display: flex;
}
.lists-style{
    width: 100%;
    text-transform: capitalize;
}
.link-style{
    text-decoration: none;
}
.lists-style a{
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
}
.lists-style a:hover{
    color: #FFB742;
    transition: 400ms;
}
header div a{
    color: black;
    background-color: #FFB742;
    padding: 1.2rem 2.6rem;
    border-radius: 5rem;
    font-size: 1.8rem;
    font-weight: 700;
}
header div a:hover{
    background-color: #212529;
    color: #FFB742;
    text-transform: uppercase;
    transition: 400ms;
}
header div:hover{
    transform: scale(1.1);
    transition: 400ms;
}
/*Шапка*/
/*Основа*/
.box1{
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10.8rem;
    width: 60%;
}
.text{
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: white;
}
.text a{
    color: #FFB742;
    text-decoration: underline;
}
.text a:hover{
    opacity: 0.50;
    transition: 400ms;
}
.box1 p:nth-child(1){
    font-size: 3.2rem;
}
.box1 p:nth-child(2){
    font-size: 4.8rem;
    margin-top: -2.3rem;
}
.box1 p:nth-child(3){
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: capitalize;
}
.box1-2{
    margin: 0 auto;
}
/*box2*/
.box2{
    font-family: 'Inter';
    height: 12.5rem;
    display: flex;
    margin: 0 auto;
    margin-top: 13.6rem;
    width: 95%;
}
.box2-1{
    height: 12.5rem;
    width: 30%;
    margin: 0 auto;
    border-radius: 1.0rem;
    background: #292B2E;
}
.box2-1:hover{
    background-color: #FFB742;
    color: #212529;
    transform: scale(1.1);
    cursor: pointer;
    transition: 400ms;
}
.box2-1 img{
    width: 4.0rem;
    height: 4.0rem;
    position: relative;
    top: 36%;
    left: 6%;
}
.text2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: -1.5rem;
    line-height: 4rem;
    color: white;
}
.text2 span{
    color:#FFB742;
    font-size: 3.2rem;
}
.box2-1:hover .text2{
    color: #212529;
    transition: 400ms;
}
.box2-1:hover span{
    color: #212529;
    transition: 400ms;
}
/*box2*/
/*box3*/
.box3{
    font-family: 'Poppins';
    height: 60.0rem;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
}
.box3-1{
    width: 230%;
}
.box3-1 img{
    max-width: 100%;
    min-width: 10%;
}
.box3-2{
    height: 39.6rem;
}
.text4{
    text-transform: uppercase;
    background-color: #292B2E;
    text-align: center;
    width: 14.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 2rem;
    font-weight: 600;
    color: #FFB742;
    border-radius: 5rem;
}
.text3{
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 5.4rem;
    line-height: 3rem;
    color: #D4D4D4;
}
.text3 span{
    font-size: 4.8rem;
    color: #FFFFFF;
    font-weight: 700;
}
.box3-2 a{
    color: #212529;
    background-color: #FFB742;
    border-radius: 5.0rem;
    padding: 1.2rem 2.6rem;
    font-size: 2.0rem;
    font-weight: 700;
}
.box3-2 a:hover{
    background-color:#212529;
    transition: 400ms;
    color: #FFB742;
}
/*box3*/
/*box4*/
.box4{
    height: 36rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4-1{
    justify-content: center;
    height: 36rem;
    width: 45%;
}
.box4-1 .text4{
    font-family: 'Poppins';
}
.text5{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 5.4rem;
    line-height: 3rem;
    color: #D4D4D4;
}
.text5 span{
    font-size: 4.8rem;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 5.6rem;
}
.box4-1 a{
    font-family: 'Poppins';
    color: #212529;
    background-color: #FFB742;
    border-radius: 5.0rem;
    padding: 1.2rem 2.6rem;
    font-size: 2.0rem;
    font-weight: 700;
}
.box4-1 a:hover{
    background-color:#212529;
    transition: 400ms;
    color: #FFB742;
}
.box4-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box4-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.6rem;
}
.card{
    background-color: #212529;
    padding: 2%;
    border-radius: 1rem;
    height: 4.8rem;
    margin-right: 1%;
    margin-left: 1%;
}
.box4-3 .card:nth-child(5){
    padding-left: 3.2%;
    padding-right: 3.2%;
}
.card:hover{
    background-color: #FFB74280;
    cursor: pointer;
    transition: 400ms;
}
/*box4*/
/*box5*/
.box5{
    margin-top: 14.7rem;
}
.box5 .text4{
    margin: 0 auto;
    font-family: 'Poppins';
}
.box5 .text5{
    text-align: center;
    font-size: 4.8rem;
}
/*box5*/
/*navigation*/
.head{
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation2{
    width: 60%;
    margin: 0 auto;
}
.navigation2 ul{
    display: flex;
    width: 100%;
}
.lists-style2{
    width: 100%;
}
.link-style2{
    text-decoration: none;
    white-space: nowrap;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 600;
}
.link-style2:hover{
    color:#212529;
    background-color: #FFB742;
    padding: 2% 10%;
    border-radius: 0.3rem;
    transition: 400ms;
}
/*navigation*/
/*box6-card*/
.box6{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 85%;
    margin-top: 5.5rem;
}
.card2{
    max-width: 100%;
    min-width: 5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}
.card2:hover{
    transform: scale(1.1);
    opacity: 0.50;
    cursor: zoom-in;
    transition: 400ms;
}
.text4-1{
    padding: 1%;
}
/*box7-comment*/
.box7{
    font-family: 'Poppins';
    height: 45.5rem;
    width: 93%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.box7-1-comment{
    background: #FFFFFF;
    height: 45.5rem;
    max-width: 100%;
    min-width: 20%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border-radius: 0.8rem;
}
.box7-1-comment img{
    position: relative;
    left: 3.6%;
    top: 7%;
}
.box7-1-comment p{
    position: relative;
    font-size: 2rem;
    left: 3.6%;
    top: 7%;
}
.box7-2-comment{
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 15%;
    margin-left: 3%;
}
.box7-2-comment img{
    max-width: 100%;
    min-width: 5%;
}
.box7-3-comment{
    margin-left: 3%;
}
.box7-3-comment p{
    white-space: nowrap;
}
/*box7-comment*/
/*box6-card*/
/*Основа*/
/*Подвал сайта*/
footer{
    height: 47.0rem;
    margin-top: 25.3rem;
    background: #1C1C1C;
    font-family: 'Work Sans';
    margin: 0 auto;
    margin-top: 25.3rem;
    width: 100%;
}
.foot-position{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
    padding-top: 14.8rem;
}
.text8{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 3.2rem;
    color: #FFB742;
}
.text9{
    color: #D4D4D4;
    font-weight: 600;
    font-size: 1.6rem;
}
.box8-1 p{
    color: #F5FBF2;
    font-weight: 700;
    width: 100%;
    font-size: 2.1rem;
    padding-left: 27%;
}
.box8-1 p:last-child{
    font-size: 1.7rem;
    color: #7B7B7B;
    font-weight: 500;
    line-height: 3.6rem;
}
.link-style3{
    width: 100%;
    text-decoration: none;
    font-size: 1.7rem;
    color: #7B7B7B;
    font-weight: 500;
    line-height: 3.6rem;
    text-transform: capitalize;
}
/*Подвал сайта*/
